[Unit]
Description=Mount NFS share
After=network.target

[Mount]
What={{ item.item.nfs_server }}:{{ item.item.server_path }}
Where={{ item.item.client_path }}
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target